
    <div class="container">
        <div class="header">
            <p>Bem Vindo,  Julio</p>
        </div>
        <div class="links">

            <div class="rounded-card"><a routerLink="artists">Artists</a></div>
            <div class="rounded-card"><a routerLink="users">Users</a></div>
           
            

            
        </div>
        <div class="footer">
            <div class="f-rounded-card"> <a routerLink="users">Log Out</a></div>
            <div class="f-rounded-card"> <a routerLink="users">Configurações</a></div>
           
            
        </div>
    </div>

