.popup {
 
    width: 100%;
    height: 30px;
    background-color: rgb(235, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  .popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
    border-radius: 5px;
    color: white;
  }
  
 
  
 