

<div class="container">
    <app-success-popup  class="popup-container" *ngIf="success" [message]="successMessage"></app-success-popup>
    <app-error-popup class="popup-container" *ngIf="error" [message]="errorMessage"></app-error-popup>
   

    <div class="header">
        <div id="new-artist" >
            <button id="new-artist-btn" class="button blue" (click)="newArtistRedirect()">Novo Usuário</button>
        </div>
        <div id="header-text"><p>Usuários</p></div>
    </div>

    <div class="no-artists" *ngIf="noUsers">
        Nenhum artista encontrado!
    </div>
    <div class="list">

        <div *ngFor="let user of users" >
            <div class="overlay">

                <div class="card">
                    <div class="data">
                        <div >Nome: {{user.name}}</div>
                        <div >Email: {{user.email}}</div>
                        <div >Role: {{user.role}}</div>
                        
                    </div>
                   
                       
                    
                    <div id="buttons">
                        <button class="button blue " (click)="edit(user.user_id);">EDITAR</button>
                        <button class="button red " (click)="showDeleteModal()">DELETAR</button>
                        <app-generic-modal *ngIf="isModalOpen" [message]="message" (confirm)="confirmDelete(user.user_id)"
                                    (cancel)="cancelDelete()">
                                </app-generic-modal>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
